* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background: black;
  color: #F9F6EE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1a1a1a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.header-container {
  padding: 10px;
  background-color: black !important;
}

.header-container h1 {
  text-align: center;
  font-size: 32px;
  color: #eaa221;
  text-transform: uppercase;
}

.sub-header {
  background-color: black !important;
  text-align: center;
}

.sub-header ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.sub-header li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #eaa221;
  text-transform: uppercase;
  padding: 8px;
  transition: color 0.3s, font-size 0.3s;
}

.sub-header li a:hover {
  color: #fff;
  font-size: 19px;
}

.content-section {
  padding: 10px 20px;
}

.content-section h2 {
  color: #eaa221;
}

.text-content p {
  margin-right: 230px;
  margin-left: 85px;
}

.text-content h4 {
  margin-left: 60px;
}

.philosophy-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.philosophy-item .text-content {
  flex: 1;
  text-align: justify;
  margin-right: 20px;
}

.philosophy-item img {
  max-width: 35%;
  height: auto;
  flex-shrink: 0;
}

#master-slider-container img {
  max-width: 100% !important;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .philosophy-item {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 100px;
  }

  .philosophy-item .text-content {
    margin-right: 0;
  }

  .philosophy-item img,
  .slider-container {
    max-width: 100%;
    margin: 15px 0;
  }

  .text-content p,
  .text-content h4 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  #philosophy-slider-container {
    width: 100% !important;
    margin-bottom: 0 !important;
  }

  #master-slider-container a.prev,
  #master-slider-container a.next {
    top: 60% !important;
    font-size: 16px !important;
    padding: 10px !important;
  }

  #philosophy-slider-container a.prev,
  #philosophy-slider-container a.next {
    font-size: 16px !important;
    padding: 10px !important;
  }

  #services-slider-container a.prev,
  #services-slider-container a.next {
    font-size: 16px !important;
    padding: 10px !important;
  }
}

#objective-section {
  background-color: #F9F6EE;
  color: black;
}

#philosophy-section {
  background-color: black;
  color: #F9F6EE;
}

#services-section {
  background-color: #F9F6EE;
  color: black;
}

#services-section ul li {
  color: black;
}

#master-section {
  background-color: #F9F6EE;
  color: black;
}

#contact-section {
  padding: 20px;
  background-color: black;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.card-flip-container {
  perspective: 1000px;
  width: 300px;
  height: 200px;
}

.card-flip {
  margin-left: -155px;
  width: 200%;
  height: 200%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}

.card-flip:hover,
.card-flip-container:active .card-flip {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-front img,
.card-back img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.card-back {
  transform: rotateY(180deg);
}

/* Mobile Responsiveness */
@media (max-width: 600px) {
  .card-flip-container {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
}

#contact-section h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-family: 'Helvetica', sans-serif;
  color: #f0a500;
}

#contact-section p {
  font-size: 1.1rem;
  color: #d1d1d1;
  margin-bottom: 30px;
}

.contact-container {
  max-width: 600px;
  margin: auto auto;
  padding: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease-in;
  margin-top: 75px !important;
}

.contact-info li {
  list-style: none;
  margin: 10px 0;
}

.contact-info a {
  color: #f0a500;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.contact-info a:hover {
  color: #ffd700;
}

.card-container {
  margin-top: 20px;
  padding: 10px;
  display: inline-block;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: transform 0.3s ease;
}

.card-container:hover {
  transform: scale(1.05);
}

.business-card {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.card-container:hover .business-card {
  transform: translateY(-5px);
}

.section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 10px;
}

.section-content p {
  flex: 1;
  text-align: justify;
  margin-right: 230px;
  margin-left: 85px;
}

.section-content img {
  width: 35%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.services-bullets {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 30px;
}

.services-bullets li {
  margin-left: 18px;
}

hr {
  border: 0;
  height: 2px;
  background-color: #444;
  margin: 20px 0;
}

footer {
  background-color: black;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  color: #eaa221;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.slider-container {
  position: relative;
  height: 100%;
  margin: auto;
  overflow: hidden;
  margin-bottom: 60px;
}

#philosophy-slider-container {
  width: 35%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#philosophy-slider-container img {
  max-width: 100% !important;
}

#philosophy-slider {
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease;
}

#services-slider-container {
  width: 100%;
}

#master-slider-container {
  width: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* This ensures the image will scale without being cropped */
  object-position: center;
  /* Keep the image centered */
  display: block;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

#philosophy-slider .slide {
  display: none;
  width: 100%;
}

#philosophy-slider .fade {
  animation: fadeIn 1s ease-in-out;
}

#philosophy-slider .video-slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#philosophy-slider-container a.prev,
#philosophy-slider-container a.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #eaa221;
  font-size: 30px;
  padding: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#philosophy-slider-container a.prev:hover,
#philosophy-slider-container a.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#philosophy-slider-container a.prev {
  left: 0;
}

#philosophy-slider-container a.next {
  right: 0;
}

#master-slider .slide {
  display: none;
  width: 100%;
}

#master-slider .fade {
  animation: fadeIn 1s ease-in-out;
}

#master-slider .video-slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#services-slider .slide {
  display: none;
  width: 100%;
}

#services-slider .fade {
  animation: fadeIn 1s ease-in-out;
}

#services-slider .video-slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#services-slider-container a.prev,
#services-slider-container a.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #eaa221;
  font-size: 30px;
  padding: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#services-slider-container a.prev:hover,
#services-slider-container a.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#services-slider-container a.prev {
  left: 0;
}

#services-slider-container a.next {
  right: 0;
}

#master-slider-container a.prev,
#master-slider-container a.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #eaa221;
  font-size: 30px;
  padding: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#master-slider-container a.prev:hover,
#master-slider-container a.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#master-slider-container a.prev {
  left: 0;
}

#master-slider-container a.next {
  right: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.business-card {
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}